<footer class="w3-container site-footer">
  <br>
  <div class="w3-cell-row">
    <div class="w3-cell w3-quarter">.</div>
    <div class="w3-container w3-cell w3-quarter w3-center">
      <ul class="contact-list">
        <li class="p-name">
          {%- if site.author -%}
          {{ site.author | escape }}
          {%- else -%}
          {{ site.title | escape }}
          {%- endif -%}
        </li>
        {%- if site.email -%}
        <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        {%- endif -%}
      </ul>
    </div>
    <div class="w3-container w3-cell w3-quarter">
      {%- include social.html -%}
    </div>
  </div>
  <div class="w3-center">
    <p>{{- site.description | escape -}}</p>
  </div>
</footer>
