
.icon-github:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-googleplus:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-phone-1:before { content: '\e809'; } /* '' */
.icon-mail-1:before { content: '\e80a'; } /* '' */