<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

    <body>

    {% include header.html %}


	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="{{"/assets/img/user.png" | prepend: site.baseurl }}" alt="Stanley">
					<h1>About Adam!</h1>
					{{ content }}
				
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
	
	
	<!-- +++++ Information Section +++++ -->
	
	<div class="container pt">
		<div class="row mt centered">	
			<div class="col-lg-3">
				<span class="glyphicon glyphicon-book"></span>
				<p>Bachelor of Information Technology from Americain InterContinental University.</p>
			</div>
			
			<div class="col-lg-3">
				<span class="glyphicon glyphicon-user"></span>
				<p>A team player that works well indipendantly and as a group.</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-fire"></span>
				<p>A desire to learn more.</p>
			</div>

			<div class="col-lg-3">
				<span class="glyphicon glyphicon-globe"></span>
				<p>Adam has traveled to many places across the country and around the world.</p>
			</div>
		</div><!-- /row -->
		
		<div class="row mt">
			<div class="col-lg-6">
				<h4>THE DEVELOPER</h4>
				<p>As of June 2014, Adam has graduated Suma Cum Laude with a degree in Information Technology from American InterContinental University.With a working knowledge of developing software with the following programming languages: Java, C#, C/C++, JavaScript, HTML, CSS, and SQL: Adam has experience working in various versions of Windows and Lunix (Debain).</p>
			</div><!-- /colg-lg-6 -->
			
			<div class="col-lg-6">
				<h4>SKILLS</h4>
				Desktop
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
						<span class="sr-only">80% Complete</span>
					</div>
				</div>

				Mobile
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
						<span class="sr-only">75% Complete</span>
					</div>
				</div>
				
				Web
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
						<span class="sr-only">95% Complete</span>
					</div>
				</div>

			</div><!-- /col-lg-6 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	
	<!-- +++++ Footer Section +++++ -->
	
	{% include footer.html %}
  </body>
</html>
