<!DOCTYPE html>
<html lang="en">
  
{% include head.html %}

    <body>

    {% include header.html %}

	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<h1>Projects</h1>
				<p>Over the past few years Adam has worked on many projects. Among the projects this website is one that he finds to be the most fun to update and maintain.</p>
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
	
	<!-- +++++ Projects Section +++++ -->
	
	<div class="container pt">
		<div class="row mt centered">
			<h1 class="work-h1">Web Projects</h1>
			<p>Some of the Web projects that I have worked on or contributed to.</p>

			<div class="col-lg-4">
				<a class="zoom violet" href="{{site.baseurl | strip}}"><img class="img-responsive" src="{{"/WebPortfolio/assets/img/thisSite/AdamsWebPortfolio.png"  }}" alt="" /></a>
				<p>This Site</p>
			</div>

			<div class="col-lg-4">
				<a class="zoom violet" href="http://coders-central.github.io/"><img class="img-responsive" src="{{"/WebPortfolio/assets/img/CodersCentral/codersCentral.png"  }}" alt="" /></a>
				<p>Coders Central</p>
			</div>

			<div class="col-lg-4">
				<a class="zoom violet" href="/WebPortfolio/jTags-redesign/"><img class="img-responsive" src="{{"/WebPortfolio/assets/img/jTags/jTags.png"  }}" alt="" /></a>
				<p>jTags</p>
			</div>

			<div class="col-lg-4">
				<a class="zoom violet" href="/WebPortfolio/jmxtrans-redesign/"><img class="img-responsive" src="{{"/WebPortfolio/assets/img/jmxtrans/jmxtrans.png" }}" alt="" /></a>
				<p>JMXTRANS</p>
			</div>
		</div>
		<br>
<!-- /row -->
		<div class="row mt centered">	
			<h1 class="work-h1">Personal Projects</h1>
			<p>A small list of personal projects.</p>

			<div class="col-lg-4">
				<a class="zoom violet" href="{{site.baseurl | strip}}/it-signature-generator/"><img class="img-responsive" src="{{"/assets/img/ITSigGen/ITForumSigGen.png" | prepend: {{site.baseurl | strip}} }}" alt="" /></a>
				<p>IT Sig Gen</p>
			</div>

			<div class="col-lg-4">
				<a class="zoom violet" href="{{site.baseurl | strip}}/spw-c-sharp/"><img class="img-responsive" src="{{"/assets/img/SqueezePage/squeezePageWizard.png" | prepend: {{site.baseurl | strip}} }}" alt="" /></a>
				<p>SPWCsharp</p>
			</div>

			<div class="col-lg-4">
				<a class="zoom violet" href="{{site.baseurl | strip}}/genfor/"><img class="img-responsive" src="{{"/assets/img/GenFor/genfor.png" | prepend: {{site.baseurl | strip}} }}" alt="" /></a>
				<p>Genfor</p>
			</div>

		</div><!-- /row -->
	</div><!-- /container -->

	 {% include footer.html %}
  </body>
</html>
