<!DOCTYPE html>
<html lang="en">
  
{% include head.html %}

    <body>

    {% include header.html %}

	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<h1>Projects</h1>
				<p>Over the past few years Adam has worked on many projects. Among the projects this website is one that he finds to be the most fun to update and maintain.</p>
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
	
	
	<!-- +++++ Projects Section +++++ -->
	
	<div class="container pt">
		<div class="row mt centered">	
			<div class="col-lg-4">
				<a class="zoom green" href="/IT Signature Generator/"><img class="img-responsive" src="{{"/assets/img/ITSigGen/ITForumSigGen.png" | prepend: site.baseurl }}" alt="" /></a>
				<p>IT Sig Gen</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="/spw-c-sharp/"><img class="img-responsive" src="{{"/workPortfolio/assets/img/SqueezePage/squeezePageWizard.png" | prepend: site.baseurl }}" alt="" /></a>
				<p>SPWCsharp</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="/genfor/"><img class="img-responsive" src="{{"/workPortfolio/assets/img/GenFor/genfor.png" | prepend: site.baseurl }}" alt="" /></a>
				<p>Genfor</p>
			</div>
		</div>
<!-- /row -->
		<div class="row mt centered">	
			<div class="col-lg-4">
				<a class="zoom green" href="{{ site.baseurl }}"><img class="img-responsive" src="{{"/workPortfolio/assets/img/thisSite/AdamsWebPortfolio.png" | prepend: site.baseurl }}" alt="" /></a>
				<p>This Site</p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="http://coders-central.github.io/"><img class="img-responsive" src="{{"/assets/img/CodersCentral/codersCentral.png" | prepend: site.baseurl }}" alt="" /></a>
				<p>Coders Central</p>
			</div>
			
		</div><!-- /row -->
	</div><!-- /container -->

	 {% include footer.html %}
  </body>
</html>
